.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    height: 70%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
    width: 70%;
    height: 100%;
}

.map-overlay h2 {
    line-height: 30px;
    display: block;
    margin: 0 0 10px;
}

h5 {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}